#app {
    display: flex;
    justify-content: center;
    align-content: center;
}

#container {
    width: 1440px;
    height: 350px;
    background-color: red;
    display: flex;
}

#img img {
    height: 350px;
}

#title {
    
}